h2 {
    font-family: georgia, times new roman, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 250%;
    color: #c92522;
}

h3 {
    font-size: 125%;
    font-weight: bold;
    margin-top: 10px;
}

.bluebox h2 { font-size: 300%; text-align: center; }

#about { width: 580px; }

#connect { text-align: center; }
#connect a { text-decoration: none; }

.social { padding: 10px 0; font-size: 22px; }

#social_twitter { border-top: solid 2px #ccc; border-bottom: solid 2px #ccc; height: 60px;}

#social_twitter img, #social_fb img { float: left; }

#who { padding: 10px 0 0 10px; }
#who p { margin: 5px 0; }
